@model string

@{
    ViewBag.Title = "Unauthorized";
    Layout = "_Layout";
}

<h2>Unauthorized</h2>
<div class="alert alert-danger" role="alert">
    You do not have access to this page. If you think it is a mistake please contact us.
</div>
